* {
    box-sizing: border-box;
}

p, span, blockquote, h2 {
    margin: 0;
}

.messages-list {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.message {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: #ffffff;
    max-width: 580px;
    width: 100%;
    padding: 20px 40px;
    row-gap: 30px;
}
.message__inner {
    display: flex;
    justify-content: space-between;
}
.message__text {
    text-align: start;
}
.message__date {
    text-decoration: underline;
    opacity: 0.5;
}
.message__author {
    align-self: flex-end;
}
