.color {
    border-radius: 20px;
    color: blue;
    border: 3px solid black;
    padding: 30px;
    text-align: center;
    background-color: #ffe8a6;
}

.input {
    height: 30px;
    border: 2px solid blue;
    border-radius: 15px;
}

.btn {
    height: 30px;
    border: 2px solid blue;
    border-radius: 15px;
}